
//colors
$dkd_pink: #ed1869;
$dkd_black: #282828;
$dkd_white: #e7e7e7;

$dkd_pink_shadow: #cc135a;

//media queries
$breakpoint_tablet: 768px;
$breakpoint_phone_s: 320px;   //stämmer?
$breakpoint_phone_m: 375px;   //stämmer?
$breakpoint_phone_l: 425px;   //stämmer?


